<style>
ul.a {
    list-style-type: circle;
}


ol.c {
    list-style-type: upper-roman;
    text-align: center;
}
p {
    font-family: "Times New Roman", Times, serif;
    color: black;

}

body {
    color: blue;
}

h1 {
    color: green;
}
</style>